<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrewmurphy.testplease">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="MultiTrackerApp"
        android:supportsRtl = "true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true" >

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDeD0lJesOnllLjBVGM-KIEzW8vUVlHc-c"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PanoramaViewDemo"
            android:label="Google StreetView"></activity>

        <activity android:name=".BarcodeCaptureActivity"
            android:label="Read Barcode"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>